body {
    font-family: 'Combo', cursive;
    /* background-image: conic-gradient(red, orange,yellow, green, blue, indigo, violet, red);
    background-repeat: no-repeat; */
}
  
.container {
    height: 65%;
    width: 65%;
    text-align: center;
}

input {
    border-radius: 10px;
}

button {
    border-radius: 10px;
}

.buttonLink {
    padding: 5px 6px;
    margin: 0;
    border-width: 2px;
    border-radius: 10px;
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

#ans {
    margin-top: -60%;
    font-size: 50px;
}

#ansIcon {
    margin-bottom: 45%;
    font-size: 50px;
}

footer {
    border-style: solid;
    border-radius: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
    background-image: conic-gradient(red, orange,yellow, green, blue, indigo, violet, red);
}